.stApp {
    background-image: url('https://i.postimg.cc/kGh3Lf61/Brown-Gold-Elegant-Wedding-Ring-Instagram-Post.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
}
